[defaults]
inventory = inventories/all-in-one-lab/hosts.yml
roles_path = roles
collections_path = .ansible/collections
host_key_checking = True
interpreter_python = auto_silent
stdout_callback = default
retry_files_enabled = False

[privilege_escalation]
become = True
become_method = sudo
