# Compose
COMPOSE_PROJECT_NAME={{ igniter_middleman_compose_project_name }}

# Next.js
NODE_ENV={{ igniter_middleman_node_env | quote }}
LOG_LEVEL={{ igniter_middleman_log_level | quote }}

# Temporal.io
TEMPORAL_URL={{ igniter_middleman_temporal_url | quote }}
TEMPORAL_NAMESPACE={{ igniter_middleman_temporal_namespace | quote }}
TEMPORAL_TASK_QUEUE={{ igniter_middleman_temporal_task_queue | quote }}
TEMPORAL_WORKFLOW_RETENTION={{ igniter_middleman_temporal_workflow_retention | quote }}

# PostgreSQL
PGHOST={{ igniter_middleman_pghost | quote }}
PGUSER={{ igniter_middleman_pguser | quote }}
PGPASSWORD={{ igniter_middleman_pgpassword | quote }}
DB_NAME={{ igniter_middleman_db_name | quote }}
DATABASE_URL={{ igniter_middleman_database_url | quote }}

# Pocket Network
POKT_RPC_URL={{ pocket_rpc_url | quote }}
PROVIDERS_CDN_URL={{ igniter_middleman_providers_cdn_url | quote }}
CHAIN_ID={{ pocket_chain_id | quote }}
BLOCKCHAIN_PROTOCOL={{ igniter_middleman_blockchain_protocol | quote }}
OWNER_IDENTITY={{ igniter_middleman_owner_identity | quote }}
OWNER_EMAIL={{ igniter_middleman_owner_email | quote }}
MINIMUM_STAKE_BUFFER={{ igniter_middleman_minimum_stake_buffer | quote }}

# Application
APP_URL={{ igniter_middleman_app_url | quote }}
AUTH_URL={{ igniter_middleman_auth_url | quote }}
AUTH_TRUST_HOST={{ igniter_middleman_auth_trust_host | quote }}

# Security / integrations
AUTH_SECRET={{ igniter_middleman_effective_auth_secret | quote }}
APP_IDENTITY={{ igniter_middleman_app_identity | quote }}
COIN_MARKET_CAP_API_KEY={{ igniter_middleman_coin_market_cap_api_key | quote }}
