---
encryption_iv: "{{ lookup('community.general.random_string', length=32, upper=false, lower=false, numbers=true, special=false, override_all='0123456789abcdef') }}"
encryption_key: "{{ lookup('community.general.random_string', length=64, upper=false, lower=false, numbers=true, special=false, override_all='0123456789abcdef') }}"
auth_secret: "{{ lookup('community.general.random_string', length=48, upper=false, lower=false, numbers=true, special=false, override_all='0123456789abcdef') }}"
