# Compose
COMPOSE_PROJECT_NAME={{ igniter_provider_compose_project_name }}

# Next.js
NODE_ENV={{ igniter_provider_node_env | quote }}
LOG_LEVEL={{ igniter_provider_log_level | quote }}

# Temporal.io
TEMPORAL_URL={{ igniter_provider_temporal_url | quote }}
TEMPORAL_NAMESPACE={{ igniter_provider_temporal_namespace | quote }}
TEMPORAL_TASK_QUEUE={{ igniter_provider_temporal_task_queue | quote }}
TEMPORAL_WORKFLOW_RETENTION={{ igniter_provider_temporal_workflow_retention | quote }}

# PostgreSQL
PGHOST={{ igniter_provider_pghost | quote }}
PGUSER={{ igniter_provider_pguser | quote }}
PGPASSWORD={{ igniter_provider_pgpassword | quote }}
DB_NAME={{ igniter_provider_db_name | quote }}
DATABASE_URL={{ igniter_provider_database_url | quote }}

# Pocket Network
POKT_RPC_URL={{ pocket_rpc_url | quote }}
DELEGATORS_CDN_URL={{ igniter_provider_delegators_cdn_url | quote }}
CHAIN_ID={{ pocket_chain_id | quote }}
BLOCKCHAIN_PROTOCOL={{ igniter_provider_blockchain_protocol | quote }}
OWNER_IDENTITY={{ igniter_provider_owner_identity | quote }}
OWNER_EMAIL={{ igniter_provider_owner_email | quote }}
MINIMUM_STAKE_BUFFER={{ igniter_provider_minimum_stake_buffer | quote }}

# Application
APP_URL={{ igniter_provider_app_url | quote }}
AUTH_URL={{ igniter_provider_auth_url | quote }}
AUTH_TRUST_HOST={{ (igniter_provider_auth_trust_host | bool) | ternary('true', 'false') | quote }}

# Security / encryption
ENCRYPTION_IV={{ igniter_provider_effective_encryption_iv | quote }}
ENCRYPTION_KEY={{ igniter_provider_effective_encryption_key | quote }}
AUTH_SECRET={{ igniter_provider_effective_auth_secret | quote }}
APP_IDENTITY={{ igniter_provider_app_identity | quote }}
