COMPOSE_PROJECT_NAME=igniter-dependencies

TEMPORAL_VERSION={{ igniter_temporal_version }}
TEMPORAL_TOOLS_VERSION={{ igniter_temporal_tools_version }}
TEMPORAL_UI_VERSION={{ igniter_temporal_ui_version }}

POSTGRESQL_VERSION={{ igniter_postgresql_version }}
POSTGRES_USER={{ igniter_postgres_user }}
POSTGRES_PASSWORD={{ igniter_postgres_password }}
