POCKET_NETWORK={{ pocket_network }}
POCKET_CHAIN_ID={{ pocketd_expected_chain_id }}
POCKETD_KEYRING_BACKEND={{ pocketd_keyring_backend }}
POCKETD_VERSION_OUTPUT={{ pocketd_version_check.stdout | quote }}
POCKETD_STAKING_OWNER=igniter
